[Unit]
Description=ffplay-demo-player
#Requires=systemd-himaxtouch.service
#After=systemd-himaxtouch.service

[Service]
Restart=always
ExecStart=/usr/bin/ffplay -autoexit /home/pi/pi-demo-display/neo-qled-demo-1.h264

[Install]
WantedBy=multi-user.target
